<!DOCTYPE html>
<html>
    <head>
        <title>Page d'accueil PhilTub</title>
    </head>
    <body>
        <header>
            <h1><a href="/">PTu Books Blog header</a></h1>
            <p>Welcome on the web page of my web site !</p>
        </header>

        {% for book in books %}
            <article>
                <time>published: {{ book.published_date }}</time>
                <h2><a href="">{{ book.title }}</a></h2>
                <p>{{ book.author|linebreaksbr }}</p>
            </article>
        {% endfor %}
    </body>
</html>
